<div class="Polaris-Page-Header__TitleWrapper Polaris-Page-Header__TitleWrapperExpand">
    <div class="Polaris-Header-Title__TitleWrapper">
        <h1 class="Polaris-Header-Title">
            <span class="Polaris-Text--root Polaris-Text--headingLg Polaris-Text--bold">Notifications</span>
        </h1>
    </div>
</div>
<div class="Polaris-Page-Header__RightAlign">
    <div class="Polaris-Page-Header__PrimaryActionWrapper">
        <div class="Polaris-Box Polaris-Box--printHidden">
            <button class="Polaris-Button Polaris-Button--pressable Polaris-Button--variantPrimary Polaris-Button--sizeMedium Polaris-Button--textAlignCenter" type="button">
                <span class="Polaris-Text--root Polaris-Text--bodySm Polaris-Text--medium">Create new </span>
            </button>
        </div>
    </div>
</div>

@code {

}