@page "/"
@using ShopifyApp.Core.Services
@using System.Web
@using ShopifyApp.Core.Settings
@using ShopifyApp.Settings
@inject IAuthService AuthService
@inject NavigationManager Navigation
@inject ILogger<Home> Logger
@inject IAppBridgeService AppBridgeService
@inject ShopifySettings ShopifySettings;
@rendermode @(new InteractiveServerRenderMode())


<PageTitle>Home</PageTitle>

@if(isLoading)
{
    <h1>Loading...</h1>
}
else
{
    <h1>Welcome auth user!</h1>
}

Welcome to your new app.

@code
{
    private bool isLoading = true;
    [CascadingParameter]
    public HttpContext? HttpContext { get; set; }
    [SupplyParameterFromQuery]
    public string? Shop { get; set; }
    [SupplyParameterFromQuery]
    public string? Code { get; set; }
    [SupplyParameterFromQuery]
    public string? State { get; set; }
    [SupplyParameterFromQuery]
    public bool? Embedded { get; set; }
    [SupplyParameterFromQuery]
    public string? Host { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        var uriBuilder = new UriBuilder(Navigation.Uri);
        var q = HttpUtility.ParseQueryString(uriBuilder.Query);
        if (!await AuthService.IsValidShopifyRequestAsync(q.Cast<string>().ToDictionary(s => s, s => q[s])))
        {
            //TODO: Redirect to informative page
            Navigation.NavigateTo("/error");
        }
        
        if(!string.IsNullOrEmpty(Code))
        {
            await AuthService.AuthenticateShopAsync(Shop, Code, State);
        }

        if (!await AuthService.IsShopAuthenticated(Shop))
        {
            var getAuthUrl = await AuthService.GetAuthUrlAsync(Shop);
            Navigation.NavigateTo(getAuthUrl);
        }
        
        isLoading = false;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            await AppBridgeService.GetOrCreateAppBridgeAsync(new AppBridgeSettings
            {
                ApiKey = ShopifySettings.ClientId,
                Host = Host
            });
        }
    }
}
