<button class="Polaris-Button Polaris-Button--pressable @GetVariantClass() @GetSizeClass() @GetTextAlignClass() @(FullWidth ? "Polaris-Button--fullWidth" : "")" type="button">
    <span class="Polaris-Text--root Polaris-Text--bodySm Polaris-Text--medium">
        @ChildContent
    </span>
</button>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
    [Parameter]
    public ButtonSize? Size { get; set; }
    [Parameter]
    public ButtonTextAlign? TextAlign { get; set; }
    [Parameter]
    public bool FullWidth { get; set; }
    [Parameter]
    public ButtonDisclosure? Disclosure { get; set; }
    [Parameter]
    public RenderFragment? Icon { get; set; }
    [Parameter]
    public bool? DataPrimaryLink { get; set; }
    [Parameter]
    public ButtonTone? Tone { get; set; }
    [Parameter]
    public ButtonVariant? Variant { get; set; }
    [Parameter]
    public string? Id { get; set; }
    [Parameter]
    public string? Url { get; set; }
    [Parameter]
    public bool? External { get; set; }
    [Parameter]
    public string? Target { get; set; }
    [Parameter]
    public string? Download { get; set; }
    [Parameter]
    public bool? Submit { get; set; }
    [Parameter]
    public bool? Disabled { get; set; }
    [Parameter]
    public bool? Loading { get; set; }
    [Parameter]
    public bool? Pressed { get; set; }
    [Parameter]
    public string? AccessibilityLabel { get; set; }
    [Parameter]
    public string? Role { get; set; }
    [Parameter]
    public string? AriaControls { get; set; }
    [Parameter]
    public bool? AriaExpanded { get; set; }
    [Parameter]
    public string? AriaDescribedBy { get; set; }
    [Parameter]
    public bool? AriaChecked { get; set; }

    private string GetVariantClass() => Variant switch
    {
        ButtonVariant.Primary => "Polaris-Button--variantPrimary",
        ButtonVariant.Plain => "Polaris-Button--variantPlain",   
        ButtonVariant.Tertiary => "Polaris-Button--variantTertiary",  
        ButtonVariant.MonochromePlain => "Polaris-Button--variantMonochromePlain",
        _ => "Polaris-Button--variantSecondary"
    };

    private string GetSizeClass() => Size switch
    {
        ButtonSize.Large => "Polaris-Button--sizeLarge",
        ButtonSize.Slim => "Polaris-Button--sizeSlim",
        ButtonSize.Micro => "Polaris-Button--sizeMicro",
        _ => "Polaris-Button--sizeMedium"
    };

    private string GetTextAlignClass() => TextAlign switch
    {
        ButtonTextAlign.Left => "Polaris-Button--textAlignLeft",
        ButtonTextAlign.Right => "Polaris-Button--textAlignRight",
        ButtonTextAlign.Start => "Polaris-Button--textAlignStart",
        ButtonTextAlign.End => "Polaris-Button--textAlignStart",
        _ => "Polaris-Button--textAlignCenter"
    };

}