@page "/help"
@rendermode @(new InteractiveWebAssemblyRenderMode(false))

<SectionContent SectionName="page-header">
    <div class="Polaris-Page-Header__TitleWrapper Polaris-Page-Header__TitleWrapperExpand">
        <div class="Polaris-Header-Title__TitleWrapper">
            <h1 class="Polaris-Header-Title">
                <span class="Polaris-Text--root Polaris-Text--headingLg Polaris-Text--bold">Help</span>
            </h1>
        </div>
    </div>
</SectionContent>

@code {
    
}