@page "/"
@using ShopifyApp.Core.Services
@using System.Web
@using ShopifyApp.Core.Dto
@using ShopifyApp.Core.Settings
@using BlazorPolaris.Actions
@using BlazorPolaris.Properties
@inject IAuthService AuthService
@inject NavigationManager Navigation
@inject ILogger<Home> Logger
@inject IAppBridgeService AppBridgeService
@inject ShopifySettings ShopifySettings;
@inject IShopService ShopService;
@rendermode InteractiveWebAssembly

<PageTitle>Home</PageTitle>
<div class="Polaris-Page Polaris-Page--fullWidth">
    <div class="Polaris-Page__Content">
        <div class="Polaris-Layout">
            <div class="Polaris-Layout__Section">
                <div class="Polaris-LegacyCard">
                    <div class="Polaris-LegacyCard__Header Polaris-LegacyCard__FirstSectionPadding">
                        @if(_isLoading)
                        {
                            <h2 class="Polaris-Text--root Polaris-Text--headingSm">Loading...</h2>
                        }
                        else
                        {
                            <h2 class="Polaris-Text--root Polaris-Text--headingSm">Welcome @_shopInfo?.ShopName!</h2>
                            <p>Name: @_shopInfo?.Owner</p>
                            <p>Email: @_shopInfo?.Email</p>
                            <PolarisButton TextAlign="TextAlign.Right">
                                View detail
                            </PolarisButton>
                        }
                    </div>
                    <div class="Polaris-LegacyCard__Section Polaris-LegacyCard__LastSectionPadding">
                        <p>View a summary of your online store’s performance.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code
{
    private bool _isLoading = true;
    [SupplyParameterFromQuery]
    public string? Shop { get; set; }
    [SupplyParameterFromQuery]
    public string? Code { get; set; }
    [SupplyParameterFromQuery]
    public string? State { get; set; }
    [SupplyParameterFromQuery]
    public int? Embedded { get; set; }
    [SupplyParameterFromQuery]
    public string? Host { get; set; }

    private ShopInfoResponse _shopInfo;
    
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        var uriBuilder = new UriBuilder(Navigation.Uri);
        var q = HttpUtility.ParseQueryString(uriBuilder.Query);

        try
        {
            if (!await AuthService.IsValidShopifyRequestAsync(q.Cast<string>().ToDictionary(s => s, s => q[s])))
            {
                //TODO: Redirect to informative page
                Navigation.NavigateTo("/error");
                return;
            }
        
            await AppBridgeService.CreateAppBridgeAsync(new AppBridgeSettings
            {
                ApiKey = ShopifySettings.ClientId,
                Host = Host
            });
            
            if (!await AuthService.IsShopAuthenticatedAsync(Shop))
            {
                var token = await AppBridgeService.GetSessionToken();
                await AuthService.AuthenticateShopAsync(Shop, token);
            }

            _shopInfo = await ShopService.GetShopAsync();
            _isLoading = false;
        }
        catch (Exception)
        {
            // ignored
        }
    }
}
