@page "/no-authenticated"
<PageTitle>No Authenticated</PageTitle>
<div class="Polaris-Page Polaris-Page--fullWidth">
    <div class="Polaris-Page__Content">
        <div class="Polaris-Layout">
            <div class="Polaris-Layout__Section">
                <div class="Polaris-LegacyCard">
                    <div class="Polaris-LegacyCard__Header Polaris-LegacyCard__FirstSectionPadding">
                        You are not authenticated. Please login to continue.
                    </div>
                    <div class="Polaris-LegacyCard__Section Polaris-LegacyCard__LastSectionPadding">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    
}